{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}

<div class="container">
    <div class="card text-center">
        <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
            <div class="card-header">
                Please, sign up using the following form:
            </div>

            <div class="card-body">
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <input type="text" class="form-control is-invalid" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.name|title }} {{ field.help_text }}" >
                            <small class="text-danger">
                                {{ field.errors }}
                            </small>
                        {% else %}
                            <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.name|title }} {{ field.help_text }}" >
                        {% endif %}

                    </div>
                {% endfor %}
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

            <div class="card-footer text-muted container">
                <div class="row">
                    <button type="submit" class="col btn btn-primary">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}