{% extends "base.html" %}
{% block title %}Create an account{% endblock %}
{% block content %}

<div class="container">
    <div class="card my-5 text-center">
        <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
            <div class="card-header">
                Welcome, {{ new_user.first_name }}!
            </div>

            <div class="card-body">
                Your account has been successfully created.
                Now you can <a href="{% url 'login' %}">log in</a>
            </div>

        </form>
    </div>
</div>

{% endblock %}