{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="container">



    {% if form.errors %}
        <p>Your username and password didn't match.Please try again.</p>
    {% else %}
    <p>
    </p>
    {% endif %}




        <div class="card text-center">
            <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

                <div class="card-header">
                    Please, use the following form to login. If you don't have an account <a href="{% url 'register' %}">register here</a>
                </div>

                <div class="card-body">
                    {% for field in form %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.name|title }}" >
                            <p class="help-text">{{ field.help_text }}</p>
                        </div>
                    {% endfor %}

                    <input type="hidden" name="next" value="{{ next }}" />
                </div>

                <div class="card-footer text-muted container">
                    <div class="row">
                        <button type="submit" class="col-9 btn btn-primary">Login</button>
                        &nbsp;
                        <a href="{% url 'password_reset' %}" class="col btn btn-secondary">
                                Forgotten your password?
                        </a>
                    </div>
                </div>
            </form>
        </div>

    </div>

{% endblock %}