{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

<div class="container">
    <div class="card my-5 text-center">
        <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

            <div class="card-header container">
                <div class="row justify-content-between">
                    <span>
                        Please, use the following form to login. If you don't have an account <a class="btn btn-sm btn-success" href="{% url 'register' %}" role="button">Register Here</a>
                    </span>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-sm btn-secondary">
                        Login with Google
                    </a>
                </div>
            </div>

            <div class="card-body">
                {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                            <input type="text" class="form-control is-invalid" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.name|title }} {{ field.help_text }}" >
                            <small class="text-danger">
                                {{ field.errors }}
                            </small>
                        {% else %}
                            <input type="text" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.name|title }} {{ field.help_text }}" >
                        {% endif %}
                    </div>
                {% endfor %}

                <input type="hidden" name="next" value="{{ next }}" />
            </div>

            <div class="card-footer text-muted container">
                <div class="row">
                    <button type="submit" class="col-9 btn btn-dark">Login</button>
                    &nbsp;
                    <a href="{% url 'password_reset' %}" class="col btn btn-secondary">
                            Forgotten your password?
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}